<div class="auth-sidebar">
  <div class="auth-sidebar-title">MARKET BY Crypto Trade</div>
  <div class="auth-sidebar-items">
    <div class="auth-sidebar-item">
      <div class="auth-sidebar-item-title">
        <div class="auth-sidebar-item-counter">1</div>
        <div class="auth-sidebar-item-name">CONVENIENT TRADING PLATFORM</div>
      </div>
      <div class="auth-sidebar-item-description">Get real-time market data</div>
    </div>
    <div class="auth-sidebar-item">
      <div class="auth-sidebar-item-title">
        <div class="auth-sidebar-item-counter">2</div>
        <div class="auth-sidebar-item-name">RELIABLE SECURITY SYSTEM</div>
      </div>
      <div class="auth-sidebar-item-description"> We securely store your assets offline for
        maximum protection
      </div>
    </div>
    <div class="auth-sidebar-item">
      <div class="auth-sidebar-item-title">
        <div class="auth-sidebar-item-counter">3</div>
        <div class="auth-sidebar-item-name">OPERATING ASSISTANCE</div>
      </div>
      <div class="auth-sidebar-item-description"> Multilingual Help Desk ready to answer your
        questions 24/7
      </div>
    </div>
  </div>
</div>
