<div class="app-benefits">
  <div  class="container">
    <div  class="benefits-title">Online trading platform for financial markets</div>
    <div  class="benefits-description"> Get free access to a unique trading terminal, which
      was developed exclusively for the clients of our brokerage company. When creating the computer and mobile
      versions of the platform, the wishes and requirements of hundreds of traders were taken into account. Evaluate
      the result. It will exceed your expectations
    </div>
    <div  class="row">
      <div  class="col-xxl-9 col-xl-10">
        <div  class="benefits-list">
          <ul >
            <li ><span >01</span>Functional web interface</li>
            <li ><span >02</span>Free analysis tools</li>
            <li ><span >03</span>One click trading</li>
            <li ><span >04</span>Mobile trading</li>
            <li ><span >05</span>Lots of order settings</li>
            <li ><span >06</span>Convenient notification system</li>
            <li ><span >07</span>Multilanguage</li>
          </ul>
        </div>
      </div>
    </div>
    <div  class="benefits-caption"><a (click)="onClickStartTrading()"
                                      class="btn"
                                      style="color: #000; font-weight: 600; background-color: #FFDA44;"> Start trading </a></div>
  </div>
</div>
