<div class="app-worth">
  <div class="container">
    <div class="title">COMPANY VALUES</div>
    <div class="row">
      <div class="col-lg-6">
        <div class="item">
          <div class="item-title">Customers and Reliability</div>
          <div class="item-description"> Quality customer service is our main value.
            More than 50 account managers are focused on the needs of our customers. We provide maximum reliability.
            We do our best to satisfy the needs of our customers
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="item">
          <div class="item-title">Simplicity and Speed</div>
          <div class="item-description"> With our easy-to-use trading platform, anyone
            can become a trader. MARKET BY Crypto Trade is available on all modern platforms. We provide the fastest
            trading using advanced technologies, without delays in order execution and lags in the user interface
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
